@using GW.WebUI.Helpers
@using GW.WebUI.Models

@model IEnumerable<GW.BLL.Models.StreetDTO>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StreetName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StreetName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StreetId }) |
                @Html.ActionLink("Details", "Details", new { id = item.StreetId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StreetId })
            </td>
        </tr>
    }

</table>
<div class="pager">
    @Html.PageLinks((PagingInfo)ViewBag.paging);
</div>